.inputNum {
  border: 1px solid rgba(0, 0, 0, .2);
  display: inline-flex;
  line-height: 38px;
  margin-bottom: 10px;
  &:focus-within {
    border-color:#1ba6e5;
  }
  &-icon {
    width: 38px;
    text-align:center;
    background: rgba(221, 221, 221, 0.4);
    &:active {
      opacity: 0.8;
    }
  }
  &-center {
    flex: 1 1;
    margin: 0 4px;
  }
  input {
    height: 38px;
    text-align: center;
  }
}