.dialog {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 30px;
  z-index: 2;
  background: #fff;
  padding: 8px 10px;
  &_header {
    height: 35px;
    text-align: left;
  }
  &_close {
    position: absolute;
    right: 0;
    padding-right: 18px;
    font-size: 23px;
  }
  &_foot {
    padding: 10px 20px;
  }
}